project2/Client/Service References/InterBank/InterBankOps1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InterBankOps" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpInterBank_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="TcpInterBank_TransferAtoB_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <oletx:OleTxAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:oletx="http://schemas.microsoft.com/ws/2006/02/tx/oletx" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="TcpInterBank_TransferBtoA_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <oletx:OleTxAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:oletx="http://schemas.microsoft.com/ws/2006/02/tx/oletx" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/InterBank/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/InterBank/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInterBankOps_TransferAtoB_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferAtoB" />
  </wsdl:message>
  <wsdl:message name="IInterBankOps_TransferAtoB_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferAtoBResponse" />
  </wsdl:message>
  <wsdl:message name="IInterBankOps_TransferBtoA_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferBtoA" />
  </wsdl:message>
  <wsdl:message name="IInterBankOps_TransferBtoA_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferBtoAResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IInterBankOps">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TransferAtoB">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterBankOps/TransferAtoB" message="tns:IInterBankOps_TransferAtoB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterBankOps/TransferAtoBResponse" message="tns:IInterBankOps_TransferAtoB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TransferBtoA">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterBankOps/TransferBtoA" message="tns:IInterBankOps_TransferBtoA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterBankOps/TransferBtoAResponse" message="tns:IInterBankOps_TransferBtoA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpInterBank" type="tns:IInterBankOps">
    <wsp:PolicyReference URI="#TcpInterBank_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="TransferAtoB">
      <wsp:PolicyReference URI="#TcpInterBank_TransferAtoB_policy" />
      <soap12:operation soapAction="http://tempuri.org/IInterBankOps/TransferAtoB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferBtoA">
      <wsp:PolicyReference URI="#TcpInterBank_TransferBtoA_policy" />
      <soap12:operation soapAction="http://tempuri.org/IInterBankOps/TransferBtoA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InterBankOps">
    <wsdl:port name="TcpInterBank" binding="tns:TcpInterBank">
      <soap12:address location="net.tcp://localhost:8702/InterBank/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8702/InterBank/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>