project2/Client/Service References/InterBank/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TransferAtoB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acctA" type="xs:int" />
        <xs:element minOccurs="0" name="acctB" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferAtoBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferBtoA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acctB" type="xs:int" />
        <xs:element minOccurs="0" name="acctA" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferBtoAResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>