project2/Supervisor/Service References/BankA/BankAOps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankAOps" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpOps_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="TcpOps_addOrdem_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <oletx:OleTxAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:oletx="http://schemas.microsoft.com/ws/2006/02/tx/oletx" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="TcpOps_executeOrdem_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <oletx:OleTxAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:oletx="http://schemas.microsoft.com/ws/2006/02/tx/oletx" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="TcpOps_editEmpresaValue_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <oletx:OleTxAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:oletx="http://schemas.microsoft.com/ws/2006/02/tx/oletx" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BankA/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BankA/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BankA/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankAOps_subscrever_InputMessage">
    <wsdl:part name="parameters" element="tns:subscrever" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_subscrever_OutputMessage">
    <wsdl:part name="parameters" element="tns:subscreverResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_unSubscrever_InputMessage">
    <wsdl:part name="parameters" element="tns:unSubscrever" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_unSubscrever_OutputMessage">
    <wsdl:part name="parameters" element="tns:unSubscreverResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetOrdens_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdens" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetOrdens_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdensResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetOrdem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdem" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetOrdem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdemResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetNotExecutedOrdens_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotExecutedOrdens" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetNotExecutedOrdens_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotExecutedOrdensResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetExecutedOrdens_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExecutedOrdens" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetExecutedOrdens_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExecutedOrdensResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetClienteOrdens_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteOrdens" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetClienteOrdens_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteOrdensResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_addOrdem_InputMessage">
    <wsdl:part name="parameters" element="tns:addOrdem" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_addOrdem_OutputMessage">
    <wsdl:part name="parameters" element="tns:addOrdemResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_executeOrdem_InputMessage">
    <wsdl:part name="parameters" element="tns:executeOrdem" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_executeOrdem_OutputMessage">
    <wsdl:part name="parameters" element="tns:executeOrdemResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCliente" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetEmpresas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpresas" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetEmpresas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpresasResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpresa" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_GetEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_editEmpresaValue_InputMessage">
    <wsdl:part name="parameters" element="tns:editEmpresaValue" />
  </wsdl:message>
  <wsdl:message name="IBankAOps_editEmpresaValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:editEmpresaValueResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IBankAOps">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="subscrever">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/subscrever" message="tns:IBankAOps_subscrever_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/subscreverResponse" message="tns:IBankAOps_subscrever_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="unSubscrever">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/unSubscrever" message="tns:IBankAOps_unSubscrever_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/unSubscreverResponse" message="tns:IBankAOps_unSubscrever_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetOrdens">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/GetOrdens" message="tns:IBankAOps_GetOrdens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/GetOrdensResponse" message="tns:IBankAOps_GetOrdens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetOrdem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/GetOrdem" message="tns:IBankAOps_GetOrdem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/GetOrdemResponse" message="tns:IBankAOps_GetOrdem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetNotExecutedOrdens">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/GetNotExecutedOrdens" message="tns:IBankAOps_GetNotExecutedOrdens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/GetNotExecutedOrdensResponse" message="tns:IBankAOps_GetNotExecutedOrdens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetExecutedOrdens">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/GetExecutedOrdens" message="tns:IBankAOps_GetExecutedOrdens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/GetExecutedOrdensResponse" message="tns:IBankAOps_GetExecutedOrdens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetClienteOrdens">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/GetClienteOrdens" message="tns:IBankAOps_GetClienteOrdens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/GetClienteOrdensResponse" message="tns:IBankAOps_GetClienteOrdens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="addOrdem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/addOrdem" message="tns:IBankAOps_addOrdem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/addOrdemResponse" message="tns:IBankAOps_addOrdem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="executeOrdem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/executeOrdem" message="tns:IBankAOps_executeOrdem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/executeOrdemResponse" message="tns:IBankAOps_executeOrdem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/GetClientes" message="tns:IBankAOps_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/GetClientesResponse" message="tns:IBankAOps_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/GetCliente" message="tns:IBankAOps_GetCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/GetClienteResponse" message="tns:IBankAOps_GetCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetEmpresas">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/GetEmpresas" message="tns:IBankAOps_GetEmpresas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/GetEmpresasResponse" message="tns:IBankAOps_GetEmpresas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/GetEmpresa" message="tns:IBankAOps_GetEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/GetEmpresaResponse" message="tns:IBankAOps_GetEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="editEmpresaValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankAOps/editEmpresaValue" message="tns:IBankAOps_editEmpresaValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankAOps/editEmpresaValueResponse" message="tns:IBankAOps_editEmpresaValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpOps" type="tns:IBankAOps">
    <wsp:PolicyReference URI="#TcpOps_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="subscrever">
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/subscrever" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unSubscrever">
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/unSubscrever" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdens">
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/GetOrdens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdem">
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/GetOrdem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotExecutedOrdens">
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/GetNotExecutedOrdens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExecutedOrdens">
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/GetExecutedOrdens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteOrdens">
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/GetClienteOrdens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrdem">
      <wsp:PolicyReference URI="#TcpOps_addOrdem_policy" />
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/addOrdem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeOrdem">
      <wsp:PolicyReference URI="#TcpOps_executeOrdem_policy" />
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/executeOrdem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/GetClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCliente">
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/GetCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpresas">
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/GetEmpresas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpresa">
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/GetEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editEmpresaValue">
      <wsp:PolicyReference URI="#TcpOps_editEmpresaValue_policy" />
      <soap12:operation soapAction="http://tempuri.org/IBankAOps/editEmpresaValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankAOps">
    <wsdl:port name="TcpOps" binding="tns:TcpOps">
      <soap12:address location="net.tcp://localhost:8700/BankA/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8700/BankA/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>