project2/Supervisor/Service References/BankA/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrdem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ordem" nillable="true" type="tns:Ordem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdem" nillable="true" type="tns:ArrayOfOrdem" />
  <xs:complexType name="Ordem">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientId" type="xs:int" />
      <xs:element minOccurs="0" name="companyId" type="xs:int" />
      <xs:element minOccurs="0" name="creationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="executionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="quant" type="xs:int" />
      <xs:element minOccurs="0" name="state" type="xs:int" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
      <xs:element minOccurs="0" name="valueStock" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ordem" nillable="true" type="tns:Ordem" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa" nillable="true" type="tns:Empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa" nillable="true" type="tns:ArrayOfEmpresa" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="stockDisponivel" type="xs:int" />
      <xs:element minOccurs="0" name="valorCotacao" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
</xs:schema>