project2/Client/Service References/BankA/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BankA/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankA" />
  <xs:element name="Deposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acct" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acct" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acct" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBalanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankA" minOccurs="0" name="GetOrdensResult" nillable="true" type="q1:ArrayOfOrdem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BankA" minOccurs="0" name="GetOrdemResult" nillable="true" type="q2:Ordem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotExecutedOrdens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotExecutedOrdensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BankA" minOccurs="0" name="GetNotExecutedOrdensResult" nillable="true" type="q3:ArrayOfOrdem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExecutedOrdens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExecutedOrdensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BankA" minOccurs="0" name="GetExecutedOrdensResult" nillable="true" type="q4:ArrayOfOrdem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteOrdens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCli" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteOrdensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BankA" minOccurs="0" name="GetClienteOrdensResult" nillable="true" type="q5:ArrayOfOrdem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrdem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BankA" minOccurs="0" name="od" nillable="true" type="q6:Ordem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrdemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="executeOrdem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="executeOrdemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BankA" minOccurs="0" name="GetClientesResult" nillable="true" type="q7:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BankA" minOccurs="0" name="GetClienteResult" nillable="true" type="q8:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BankA" minOccurs="0" name="GetEmpresasResult" nillable="true" type="q9:ArrayOfEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BankA" minOccurs="0" name="GetEmpresaResult" nillable="true" type="q10:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editEmpresaValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="val" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editEmpresaValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>